.Clima {
  height: 99.8vh;
  border: solid 1px red;
  display: flex;
}

.temp-actual {
  height: 60vh;
  width: 27vw;
  border: solid 1px red;
}

.max-min {
  height: 39.5vh;
  width: 27vw;
  border: solid 1px red;
}

.por-hora {
  height: 35vh;
  width: 72.8vw;
  border: solid 1px red;
  box-sizing: border-box;
}