@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

html {
  background: linear-gradient(20deg, rgb(53,131,143), rgb(164,213,220));
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 0 10px;
}

.half-width {
  flex: 1;
  border: 1px solid #ccc;
  padding: 5px 10px 10px 10px;
  overflow: auto;
}

.Clima {
  border-color: green;
}

.max-min {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.highlight-header {
  font-size: 2rem;
  color: white;
  margin: 1% 0 1%;
  text-align: center;
}

.container-highlights {
  font-family: 'Mooli', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

.leaflet-container {
  width: 51.4vw; 
  height: 58.8vh;
}
